$primary: #1E3088;
$secondary: #444444;

.column {
    margin: 2em;
}

.tweet {
    padding-bottom: 2rem;
}

.hidden {
    display: none;
}

i {
    color: $primary;
}

.nav-button {
    display: flex;
    width: 100%;
    align-items: center;
    align-content: center;
    padding: 0px;

    a {
        display: block;
        width: 90%;
        text-align: right;

        border-bottom: 2px solid $primary;
    }
}