<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Twitter - Account</title>
  <link rel="shortcut icon" href="/assets/img/favicon.png" />
  <link rel="stylesheet" type="text/css" href="/assets/style.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>

<body>
  <div class="columns">
    <div class="column" id="nav">
      <div class="nav-button"><a href="/tweet">Tweets</a></div>
      <div class="nav-button"><a class="current">Account</a></div>
      <div class="nav-button"><a href="/logout">Logout</a></div>
    </div>

    <div class="column is-half">
      <div id="accountInfo">

      </div>

      <div id="changePassword">

      </div>

      <div class="hidden" id="errorMessage"></div>
    </div>

    <div class="column">

    </div>
  </div>

  <script src="/socket.io/socket.io.js"></script>
  <script src="/assets/accountBundle.js"></script>
</body>

</html>