<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Twitter</title>
  <link rel="shortcut icon" href="/assets/img/favicon.png" />
  <link rel="stylesheet" type="text/css" href="/assets/style.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>

<body>
  <div class="columns">
    <div class="column" id="nav">
      <button id="loginButton">Login</button>
      <button id="signupButton">Singup</button>
    </div>

    <div class="column is-half">
      <div id="login"></div>
      <div id="errorMessage"></div>
    </div>

    <div class="column" id="spacing">

    </div>
  </div>

  <script src="/socket.io/socket.io.js"></script>
  <script src="assets/loginBundle.js"></script>
</body>

</html>