.column {
  margin: 2em;
}

.tweet {
  padding-bottom: 2rem;
}

.hidden {
  display: none;
}

i {
  color: #1E3088;
}

label:not(.first) {
  margin-top: 1.5em;
}

.button:not(.first) {
  margin-top: 1em;
  margin-bottom: 0;
}

form {
  margin-bottom: 0;
}